@charset "UTF-8";

@font-face {
    font-family: 'arimo';
    src: url('Arimo-VariableFont_wght.ttf');
}

*{
    text-decoration: none;
}

body {
    background-color: #f9b9ab;
}

nav{

    background-color: whitesmoke;
    padding: 15px;
    box-shadow: #f9b9ab;
    border-radius: 15px;
    box-shadow: 10px 10px 10px rgb(145, 17, 17);
    font-weight: bold;
    text-align: right;
    margin: 0 15px;
}

main{
    margin: auto; 
}

h1 {
    color: azure;
}

h3 {
    color: black;
}

p {
    text-align: center;
}

footer{
    background-color: rgb(114, 114, 114);
    font-weight: bold;
    padding: 3px;
    text-align: center;
}